html {
    font-size: 62.5%;
    overflow-y: scroll;
}

body {
    font-size: 1.6rem;
    background-color: lightslategrey;
}

img {
    object-fit: fill;
}

#myLibraryContainer {
    
}

#header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuButton {
    width: 6rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 3.2rem;
}

#menu {
    position: fixed;
    top: 2.5rem;
    height: 15rem;
    max-height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    clip: rect(auto, auto, 0, auto);
    transition-property: clip;
    transition-duration: 1s;
    font-size: 2.6rem;
}

#bookForm {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 40rem;
    height: 20rem;
    top: 50%;
    left: 50%;
    margin-left: -20rem;
    margin-top: -10rem;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 1;
}

#exitAddBook {
    position: absolute;
    cursor: pointer;
    color: red;
    right: 0.5rem;
    top: 0.5rem;
}

#pages {
    height: 75rem;
    width: 5rem;
    position: fixed;
    top: 50%;
    margin-top: -38.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;
    color: white;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1.75rem;
}

#pages:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#pages p {
    cursor: pointer;
    margin: 0;
}

#nextPageList {
    transform: rotate(90deg);
}

#previousPageList {
    transform: rotate(90deg);
}

#booksDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26rem);
    row-gap: 4rem;
    justify-content: center;
    justify-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-right: 5rem;
}

.card {
    width: 19.2rem;
    height: 27.15rem;
    position: relative;
    background-size: cover;
    background-color: black;
    color: white;
    background-color: transparent;
    perspective: 750px;
    transition: all 0.65s ease-in-out;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 13px -7px #000000, 0px 11px 50px 7px rgba(0,0,0,0.12);
}

.card:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flipCardFront {
    background-color: #bbb;
    color: black;
    background-size: cover;
    background-position: center;
}

.flipCardBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 79, 99);
    transform: rotateY(180deg);
}

.removeBook {
    position: absolute;
    cursor: pointer;
    color: red;
    right: 0.5rem;
    top: 0.5rem;
}

.activePage {
    color: khaki;
    transform: scale(1.2);
    transition: all 0.1s;
}

.activeMenu {
    clip: rect(auto, auto, 15rem, auto) !important;
}

.inactiveMenu {
    clip: rect(auto, auto, 0rem, auto) !important;
}

.activeAddBook {
    display: flex !important;
}

.inactiveAddBook {
    display: none !important;
}

.hide {
    opacity: 0;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 760px) {
    html {
        font-size: 37.5%;
    }
}