html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
    overflow-y: scroll;
    --ui-background-color:#FFFFFF;
    --main-text-color:#000000;
    --secondary-text-color:#5d93ff;
    --exit-button-color:#ff5757;
}

body {
    min-height: 100vh;
    position: relative;
    font-size: 1.6rem;
}

p {
    margin: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 12rem;
    border: solid 0.1rem var(--secondary-text-color);
    color: var(--main-text-color);
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.4rem;
    overflow: hidden;
    background: linear-gradient(to right, var(--secondary-text-color) 50%, var(--ui-background-color) 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: background-position 0.25s ease-in-out;
    user-select: none;
}

.button:hover {
    background-position: 0% 0%;
}

.button:active {
    transform: scale(1.03);
}

#google {
    width: 11.8rem;
    height: 2.8rem;
    font-size: 1.4rem;
    background-color: var(--ui-background-color);
    border: solid var(--secondary-text-color) 0.1rem;
    border-radius: 0.8rem;
    color: var(--main-text-color);
    text-align: center;
    outline: none;
}

#google::placeholder {
    opacity: 0.75;
    color: var(--main-text-color);
}

#google:focus::placeholder {
    color: transparent;
}

#header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: -2.5rem;
    z-index: 1;
    user-select: none;
}

#navigation {
    width: 84rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--main-text-color);
    height: 7rem;
    border-radius: 0 0 1.2rem 1.2rem;
    background-color: var(--ui-background-color);
    filter: drop-shadow(
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.4)
  );
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.8rem;
    width: 33.34%;
    white-space: nowrap;
}

.menusText {
    font-size: 2.8rem;
    font-weight: normal;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--secondary-text-color) 50%, var(--main-text-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 0% 100%;
    transition: background-position 0.75s;
}

.menus:hover .menusText {
    background-position: 0% 0%;
}

.hoverMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 5rem;
    height: 15rem;
    max-height: 40rem;
    width: 28rem;
    background-color: var(--ui-background-color);
    clip-path: inset(0 0 15rem 0);
    transition:  1s;
    font-size: 2.6rem;
    border-radius: 0 0 1.2rem 1.2rem;
}

.menus:hover .hoverMenu {
    clip-path: inset(0 0 0 0);
}

.optionsHeaders {
    color: var(--secondary-text-color);
}

.optionsLinks span {
    color: var(--secondary-text-color);
    font-style: italic;
    text-decoration: underline;
}

.optionsLinks span:hover {
    opacity: 0.75;
}

.uiColorContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.uiOptionsLabels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#mainBackgroundImage {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

input[type="color"]::-webkit-color-swatch,
input[type='color']::-webkit-color-swatch-wrapper{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 8px;
    padding: 0;
}

.activeOptionsMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    width: 30rem;
    height: 50rem;
    top: 50%;
    left: 50%;
    margin-left: -17.75rem;
    margin-top: -25rem;
    padding: 2rem;
    background-color: var(--ui-background-color);
    z-index: 1;
    color: var(--main-text-color);
    border-radius: 1.2rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.exitOptionsButton {
    position: absolute;
    top: 0;
    right: 0.8rem;
    font-size: 3.2rem;
    color: var(--exit-button-color);
    cursor: pointer;
    user-select: none;
    opacity: 0.55;
}

.exitOptionsButton:hover {
    opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, input:-webkit-autofill {
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 3rem var(--ui-background-color) inset !important;
  -webkit-text-fill-color: var(--main-text-color) !important;
  margin: 0;
}

fieldset {
    text-align: center;
    border-radius: 1.2rem;
    background-color: var(--ui-background-color);
    user-select: none;
    border: 0.2rem solid var(--secondary-text-color);
    color: var(--secondary-text-color);
}

legend {
    padding: 0 1.2rem 0 1.2rem;
    z-index: 1;
}

.addBookInput {
    background-color: var(--ui-background-color);
    color: var(--main-text-color);
    border: none;
    padding: 0.6rem;
    text-align: center;
}

.addBookInput:hover {
    opacity: 0.35;
    outline: 0.2rem var(--main-text-color) solid;
    border-radius: 0.2rem;
}

.addBookInput:focus {
    opacity: 1;
    outline: 0.2rem var(--main-text-color) solid;
    border-radius: 0.2rem;
}

#checkboxContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    color: var(--secondary-text-color);
}

.checkbox {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--secondary-text-color);
  border-radius: 0.6rem;
  margin-top: 0.4rem;
}

#checkboxContainer input:checked ~ .customCheckbox {
    background-color: var(--secondary-text-color);
  }

  .customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  #checkboxContainer input:checked ~ .customCheckbox:after {
    display: block;
  }

  #checkboxContainer .customCheckbox:after {
    width: 0.5rem;
    height: 1rem;
    border: solid var(--main-text-color);
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#pages {
    height: 75rem;
    width: 5rem;
    position: fixed;
    top: 50%;
    margin-top: -38.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;
    color: var(--main-text-color);
    user-select: none;
    background-color: var(--ui-background-color);
    opacity: 0.7;
    border-radius: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1.75rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.25);
}

#pages:hover {
    opacity: 1;
}

#pages p {
    cursor: pointer;
    margin: 0;
}

#nextPageList {
    transform: rotate(90deg);
}

#previousPageList {
    transform: rotate(90deg);
}

#booksDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26rem);
    row-gap: 4rem;
    justify-content: center;
    justify-items: center;
    padding-top: 12rem;
    padding-bottom: 4rem;
    padding-right: 15.5rem;
    padding-left: 10rem;
}

.card {
    width: 19.2rem;
    height: 26.15rem;
    position: relative;
    background-color: transparent;
    perspective: 750px;
    transition: all 0.65s ease-in-out;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 1rem 1.3rem -0.7rem #000000, 0 1.1rem 5rem 0.7rem rgba(0,0,0,0.12), 0 0.5rem 2rem 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
}

.card:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 1.2rem 0.4rem 0.4rem 1.2rem;
}

.flipCardFront {
    background-color: #bbb;
    background-size: cover;
    background-position: center;
}

.flipCardBack {
    content-visibility: hidden;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotateY(180deg);
    overflow: hidden;
    background-color: #bbb;
}

.cardParagraphs {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 1.2rem 0.6rem 1.2rem;
    color: var(--main-text-color);
    text-align: left;
    z-index: 1;
}

.flipCardBack p span {
    display: none;
}

.showAllParagraphText {
    position: absolute;
    width: 23.5rem;
    background-color: var(--main-text-color);
    color: var(--ui-background-color);
    border-radius: 0.6rem;
    padding: 1rem;
    z-index: 1;
    animation: forwards 0.5s showAllParagraphTextAnimation;
    pointer-events: none;
}

.copied {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: var(--main-text-color);
    padding: 1rem;
    border-radius: 0.6rem;
    color: var(--ui-background-color);
    z-index: 1;
    pointer-events: none;
}

.flipCardBackImg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    opacity: 50%;
}

.flipCardBackColouredBackground {
    position: absolute;
    width: 140%;
    height: 90%;
    top: 50%;
    z-index: -1;
    background-color: var(--ui-background-color);
    transform: skew(15deg, -10deg);
}

.topLeftBookContainer {
    position: absolute;
    cursor: pointer;
    background-color: var(--ui-background-color);
    left: -3.2rem;
    top: -3.2rem;
    border-radius: 4rem;
    user-select: none;
    width: 6rem;
    height: 6rem;
}

.topLeftBookSymbol {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 1.4rem;
    height: 1.4rem;
    transform: translate(3.7rem, 3.7rem);
    transition-duration: 0.3s;
    color: var(--main-text-color);
}

.topLeftBookContainer:hover .topLeftBookSymbol {
    color: var(--secondary-text-color);
}

.topLeftBookContainer:active .topLeftBookSymbol {
    
}

.topRightBookContainer {
    position: absolute;
    cursor: pointer;
    background-color: var(--ui-background-color);
    right: -3.2rem;
    top: -3.2rem;
    border-radius: 4rem;
    font-size: 2.4rem;
    user-select: none;
    width: 6rem;
    height: 6rem;
}

.topRightBookSymbol {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 1.4rem;
    height: 1.4rem;
    transform: rotate(-45deg) translate(-1.8rem, 3.3rem);
    transition-duration: 0.3s;
    color: var(--main-text-color);
}

.topRightBookContainer:hover .topRightBookSymbol {
    color: var(--exit-button-color);
}

.activePage {
    color: var(--secondary-text-color);
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.activeAddBook {
    display: flex !important;
}

.inactiveAddBook {
    display: none !important;
}

.hide {
    opacity: 0;
}

#codeWriter {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.8rem;
    width: 15rem;
    color: white;
    font-size: 1rem;
    text-shadow: 0.1rem 0.1rem 0.4rem #474747;
}

#codeWriter:hover {
    transform: scale(1.2);
}

#githubLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.4rem;
}

#githubIcon {
    width: 1rem;
    height: 1rem;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes showAllParagraphTextAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media only screen and (max-width: 1050px) {
    #navigation {
        width: 63rem;
    }

    .hoverMenu {
        width: 21rem;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 37.5%;
    }
}

@media only screen and (max-width: 550px) {
    #navigation {
        width: 51rem;
    }

    .hoverMenu {
        width: 17rem;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 30%;
    }

    .cardParagraphs {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 25%;
    }

    .cardParagraphs {
        font-size: 1.1rem;
    }
}