html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
    overflow-y: scroll;
}

body {
    font-size: 1.6rem;
    background-image: url("https://wallpaperbat.com/img/309969-black-wood-abstract-samsung-galaxy-note-9-8-s9-s8-s.jpg");
    background-size: cover;
}

p {
    margin: 0px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 12rem;
    border: solid 1px white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.4rem;
    overflow: hidden;
    background: linear-gradient(to right, #1f205a, #3c5892 50%, black 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: background-position 0.25s ease-in-out;
}

.button:hover {
    background-position: 0% 0%;
}

.button:active {
    transform: scale(1.03);
}

#google {
    width: 11.8rem;
    height: 2.8rem;
    font-size: 1.4rem;
    background-color: black;
    border: solid white 1px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

#header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: -2.5rem;
    z-index: 1;
    user-select: none;
}

#navigation {
    width: 84rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 7rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: black;
    filter: drop-shadow(
    0px 2px 4px rgba(0, 0, 0, 0.4)
  );
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.8rem;
    width: 33.34%;
    white-space: nowrap;
}

.menusText {
    font-size: 2.8rem;
    font-weight: normal;
    color: white;
    overflow: hidden;
    background: linear-gradient(to bottom, #5d93ff 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 0% 100%;
    transition: background-position 0.75s;
}

.menus:hover .menusText {
    background-position: 0% 0%;
}

.hoverMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 5rem;
    height: 15rem;
    max-height: 40rem;
    width: 28rem;
    background-color: black;
    clip-path: inset(0 0 15rem 0);
    transition:  1s;
    
    font-size: 2.6rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.menus:hover .hoverMenu {
    clip-path: inset(0 0 0 0);
}

#bookForm {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 40rem;
    height: 20rem;
    top: 50%;
    left: 50%;
    margin-left: -20rem;
    margin-top: -10rem;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 1;
}

#pages {
    height: 75rem;
    width: 5rem;
    position: fixed;
    top: 50%;
    margin-top: -38.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;
    color: white;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1.75rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

#pages:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#pages p {
    cursor: pointer;
    margin: 0;
}

#nextPageList {
    transform: rotate(90deg);
}

#previousPageList {
    transform: rotate(90deg);
}

#booksDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26rem);
    row-gap: 4rem;
    justify-content: center;
    justify-items: center;
    padding-top: 12rem;
    padding-bottom: 4rem;
    padding-right: 7rem;
}

.card {
    width: 19.2rem;
    height: 26.15rem;
    position: relative;
    background-color: transparent;
    perspective: 750px;
    transition: all 0.65s ease-in-out;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 13px -7px #000000, 0px 11px 50px 7px rgba(0,0,0,0.12), 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.card:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.flipCardFront {
    background-color: #bbb;
    color: black;
    background-size: cover;
    background-position: center;
}

.flipCardBack {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotateY(180deg);
    overflow: hidden;
    background-color: #bbb;
}

.cardParagraphs {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 12px 6px 12px;
    color: white;
    text-align: left;
    z-index: 1;
}

.flipCardBack p span {
    display: none;
}

.showAllParagraphText {
    position: absolute;
    width: 23.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 6px;
    padding: 1rem;
    z-index: 1;
    animation: forwards 0.5s showAllParagraphTextAnimation;
    pointer-events: none;
}

.copied {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 6px;
    color: white;
    z-index: 1;
    pointer-events: none;
}

.flipCardBack img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    opacity: 50%;
}

.flipCardBackColouredBackground {
    position: absolute;
    width: 140%;
    height: 90%;
    top: 50%;
    z-index: -1;
    background-image: linear-gradient(-20deg, #1f205a, #3c5892);
    transform: skew(15deg, -10deg);
}

.removeBook {
    position: absolute;
    cursor: pointer;
    color: #3c5892;
    right: 0.7rem;
    top: 0.5rem;
    font-size: 2.4rem;
    user-select: none;
}

.activePage {
    color: #5d93ff;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.activeAddBook {
    display: flex !important;
}

.inactiveAddBook {
    display: none !important;
}

.hide {
    opacity: 0;
}

#codeWriter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.8rem;
    width: 15rem;
    margin: auto;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px 4px #474747;
}

#codeWriter:hover {
    transform: scale(1.2);
}

#githubLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.4rem;
}

#githubIcon {
    width: 1rem;
    height: 1rem;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes showAllParagraphTextAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media only screen and (max-width: 1050px) {
    #navigation {
        width: 63rem;
    }

    .hoverMenu {
        width: 21rem;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 37.5%;
    }
}

@media only screen and (max-width: 550px) {
    #navigation {
        width: 51rem;
    }

    .hoverMenu {
        width: 17rem;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 30%;
    }

    .cardParagraphs {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 25%;
    }

    .cardParagraphs {
        font-size: 1.1rem;
    }
}